JayenInterface/src/main/webapp/wsdl/AddStok.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://jayen.com" xmlns:intf="http://jayen.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://jayen.com">
     
  
  <wsdl:types>
          
    
    <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://jayen.com">
               
      
      <element name="addStok">
                    
        
        <complexType>
                         
          
          <sequence>
                              
            
            <element name="AddStok" type="xsd:string"/>
                              
            
            <element name="num" type="xsd:int"/>
                             
          
          </sequence>
                        
        
        </complexType>
                   
      
      </element>
               
      
      <element name="addStokResponse">
                    
        
        <complexType>
                         
          
          <sequence>
                              
            
            <element name="addStokReturn" type="xsd:string"/>
                             
          
          </sequence>
                        
        
        </complexType>
                   
      
      </element>
              
    
    </schema>
         
  
  </wsdl:types>
       
  
  <wsdl:message name="addStokRequest">
              
    
    <wsdl:part element="impl:addStok" name="parameters">

      </wsdl:part>
           
  
  </wsdl:message>
       
  
  <wsdl:message name="addStokResponse">
              
    
    <wsdl:part element="impl:addStokResponse" name="parameters">

      </wsdl:part>
           
  
  </wsdl:message>
       
  
  <wsdl:portType name="AddStok">
              
    
    <wsdl:operation name="addStok">
                     
      
      <wsdl:input message="impl:addStokRequest" name="addStokRequest">

       </wsdl:input>
                     
      
      <wsdl:output message="impl:addStokResponse" name="addStokResponse">

       </wsdl:output>
                  
    
    </wsdl:operation>
           
  
  </wsdl:portType>
       
  
  <wsdl:binding name="AddStokSoapBinding" type="impl:AddStok">
              
    
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
              
    
    <wsdl:operation name="addStok">
                     
      
      <wsdlsoap:operation soapAction=""/>
                     
      
      <wsdl:input name="addStokRequest">
                            
        
        <wsdlsoap:body use="literal"/>
                         
      
      </wsdl:input>
                     
      
      <wsdl:output name="addStokResponse">
                            
        
        <wsdlsoap:body use="literal"/>
                         
      
      </wsdl:output>
                  
    
    </wsdl:operation>
           
  
  </wsdl:binding>
       
  
  <wsdl:service name="AddStokService">
              
    
    <wsdl:port binding="impl:AddStokSoapBinding" name="AddStok">
                     
      
      <wsdlsoap:address location="http://localhost:8080/JayenInterface/services/AddStok"/>
                  
    
    </wsdl:port>
           
  
  </wsdl:service>
    

</wsdl:definitions>
