JayenInterface/src/main/webapp/wsdl/SeeRequestStatus.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://jayen.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://jayen.com" xmlns:intf="http://jayen.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://jayen.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="seeRequest">
    <complexType>
     <sequence>
      <element name="ip" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="seeRequestResponse">
    <complexType>
     <sequence>
      <element name="seeRequestReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="seeRequestRequest">

      <wsdl:part element="impl:seeRequest" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="seeRequestResponse">

      <wsdl:part element="impl:seeRequestResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SeeRequestStatus">

      <wsdl:operation name="seeRequest">

         <wsdl:input message="impl:seeRequestRequest" name="seeRequestRequest">

       </wsdl:input>

         <wsdl:output message="impl:seeRequestResponse" name="seeRequestResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SeeRequestStatusSoapBinding" type="impl:SeeRequestStatus">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="seeRequest">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="seeRequestRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="seeRequestResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SeeRequestStatusService">

      <wsdl:port binding="impl:SeeRequestStatusSoapBinding" name="SeeRequestStatus">

         <wsdlsoap:address location="http://localhost:8080/JayenInterface/services/SeeRequestStatus"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
