JayenInterface/src/main/webapp/wsdl/VariantServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://variant.jayen.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://variant.jayen.com" xmlns:intf="http://variant.jayen.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://variant.jayen.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getVariantList">
    <complexType>
     <sequence>
      <element name="ip" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getVariantListResponse">
    <complexType>
     <sequence>
      <element name="getVariantListReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getVariantListResponse">

      <wsdl:part element="impl:getVariantListResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getVariantListRequest">

      <wsdl:part element="impl:getVariantList" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="VariantServiceImpl">

      <wsdl:operation name="getVariantList">

         <wsdl:input message="impl:getVariantListRequest" name="getVariantListRequest">

       </wsdl:input>

         <wsdl:output message="impl:getVariantListResponse" name="getVariantListResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="VariantServiceImplSoapBinding" type="impl:VariantServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getVariantList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getVariantListRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getVariantListResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="VariantServiceImplService">

      <wsdl:port binding="impl:VariantServiceImplSoapBinding" name="VariantServiceImpl">

         <wsdlsoap:address location="http://localhost:8080/JayenInterface/services/VariantServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
